* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100vh;
}
#back {
  width: 100%;
  height: 100vh;
}
#back img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
#top {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

}
#work {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  max-width: 1920px;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
#nav img {
  height: 60px;
}
#left,#right {
  display: flex;
  align-items: center;
  gap: 40px;
}
#nav a {
  pointer-events: all;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
}
#hero {
  position: absolute;
  top: 55%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#hleft .elem {
  position: relative;
  margin-top: 20px;
  height: 9vw;
  overflow: hidden;
 
}
#hleft .elem h1:nth-child(1){
  top: 0;
}
#hleft .elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9;
  font-family: "nelsond";
  color: white;
  font-weight: 100;
  font-size: 5vw;
}
#hleft button{
  pointer-events: all;
  padding: 1vw 2vw;
  font-family: "nelsond" ;
  font-size: 2.5vw;
  margin-top: 2vw;
}
#hright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  color: white;
}
#hright p{
  margin-left: 90px;
  text-align: right;
  font-weight: 700;
  font-size: 15px;

}
#hright #img{
  width: 100%;
  height: 200px;  
  margin-top: 20px;
  margin-bottom: 20px;
 background-image: url(img/jessica-felicio-QS9ZX5UnS14-unsplash.jpg);
 background-size: cover;
 background-position: center;
}
#hright p:nth-child(3){
  margin-bottom: 50px;
  
}
